dist
cabal-dev
clienttest
*SourceGraph*
*.#*
*\**
*yesod-devel*
*tmp*
*.*~
*yesod-devel*
*sandbox*
*.o
/onping/.dir-locals.el
*.hi
*.chi
*.chs.h
*#*#*
*.#
.virthualenv
.idea/
*.sublime-project
*.sublime-workspace
*flymake*

onping/config/client_session_key.aes
/onping/templates/controllers/dashboardBad.js
/onping/config/client_session_key.aes

!circle.yml
/onping/onpingDist.tar.gz
/onping/onpingStatic.tar.gz
/onping/TAGS
/onping/config/*.yml
/onping/config/*.yaml
*.sh
/tests/Persist/Settings/TypesSpec.md
*.bak
*.orig
/TAGS
flycheck*
*-splices
*.out

.stack-work
